%h1 Editing map

= render partial: "map", locals: { map: @map, is_edit: @is_edit }

%br
.btn-group
  = link_to 'Show', @map, class: "btn btn-default"
  = link_to 'Back', maps_path, class: "btn btn-default"
%br
%br
