%h1 Listing armies

%table
  %tr
    %th
    %th
    %th

  - @armies.each do |army|
    %tr
      %td= link_to 'Show', army
      %td= link_to 'Edit', edit_army_path(army)
      %td= link_to 'Destroy', army, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Army', new_army_path
