/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require_tree ../../../vendor/assets/stylesheets/
 */

.space {
  display: inline-block;
  background-color: rgb(13, 117, 13);
  margin-bottom: 2px;
  padding: 5px;
}

.map-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.my-army {
  font-weight: bold;
  color: blue;
}

.allied-army {
  font-weight: bold;
  color: rgb(17, 209, 209);
}

.enemy-army {
  font-weight: bold;
  color: rgb(221, 32, 32);
}

.move {
  font-weight: bold;
  text-decoration:underline;
}

.my-next-turn {
  font-weight: bold;
  color: rgb(89, 168, 45);
}

.enemy-next-turn {
  font-weight: bold;
  color: rgb(221, 32, 32);
}

.left-margin {
  margin-left: 15px;
}

.space-edit:hover {
  background-color: teal;
}

.space-edit {
  border-width: 0px;
}

.up-move {
  position: absolute;
  bottom:0px;
  left: 50%;
  margin-left:auto;
  margin-right:auto;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-bottom: 10px solid blue;
}

.down-move {
  position: absolute;
  top: 0px;
  left: 50%;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-top: 10px solid blue;
}

.right-move {
  position: absolute;
  left: 0px;
  top: 50%;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	
	border-left: 10px solid blue;
}

.left-move {
  position: absolute;
  right: 0px;
  top: 50%;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid blue; 
}
@import "bootstrap";
