%h1= @alliance.name

- @alliance.armies.each do |army|
  %p army.name

.btn-group
  = link_to 'Edit', edit_alliance_path(@alliance), class: "btn btn-default"
  = link_to 'Back', alliances_path, class: "btn btn-default"
%br
%br
